div {
	text-align: center;
	margin: auto;
	border: 2px solid;
	border-radius: 10px;
	background: linear-gradient(darkgray, gray);
	width: 50%;
}
body {
	background-color: lightgray;
	font-family: 'Exo 2', sans-serif;
}
h1 {
	color: rgb(0, 71, 171);
}
a:link {
	color: rgb(0, 71, 171);
	text-decoration: none;
}
a:hover {
	
	text-decoration: underline;
}